---
// filepath: d:\CHIRU\FRONT\frontend\frontend\src\pages\[locale]\docs\dev\ui\atoms\ejemplo.astro
import Layout from "@/layouts/Layout.astro";
import { getStaticLanguagePaths } from "@/i18n/utils";
import { Button } from "@/components/atoms/Button";
import ButtonEjm from "@/components/atoms/ButtonEjm";
import { Pencil, Trash } from "phosphor-react";

export async function getStaticPaths() {
  return getStaticLanguagePaths();
}
---

<Layout title="Ejemplo de Botón">
  <Button
    variant="danger"
    size="medium"
    positionIcon="right"
    text="nuevo"
    disabled={false}
    fullWidth={false}
  >
    <Trash slot="icon" />
  </Button>

  <Button
    variant="secondary"
    size="medium"
    positionIcon="left"
    text="Editar"
    disabled={false}
    fullWidth={false}
  >
    <!-- <Pencil slot="icon" /> -->
  </Button>

  <Button
    variant="primary"
    size="large"
    positionIcon="left"
    disabled={false}
    fullWidth={false}
  >
    <Pencil slot="icon" />
  </Button>

<ButtonEjm
  type="button"
  onClick={() => alert("Hola mundo")}
  variant="primary"
  size="medium"
  client:load
>
  Hola mundo
</ButtonEjm>

</Layout>
